<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置dao开始-->
    <!--配置连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/maven"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>
    <!-- 配置生产SqlSession的工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--加载domain-->
       <property name="typeAliasesPackage" value="com.domain.Items"></property>
     </bean>
    <!--dao代理对象-->
    <bean id="mapperScannerRegistrar" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     <property name="basePackage" value="com.dao"></property>
     </bean>
    <!--配置dao结束-->
</beans>